{% extends "blog/base.html" %}
{% block content %}
    <div class="card  p-3 m-3">
        <form class="" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete post</legend>
            </fieldset>
            <h2>Are you sure you want to delete the post ? <span class="text-info">{{object.title}}</span></h2>
                <div class="form-group">
                    <button class="btn btn-danger">yes Delete</button>
                    <a class="btn btn-outline-secondary" href="{% url 'post-detail' object.id %}">Cancel</a>
                </div>
        </form>
    </div>
{% endblock content %} 