{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="card p-3 m-3">
            <div class="card-body d-flex flex-row">

                <img class="d-inline rounded-circle " width="75px" height="75px" src="{{user.profile.image.url}}">
        
                <div class="d-flex flex-column ml-3">
                    <h3>{{user.username}}</h3>
                    <h5>{{user.email}}</h5>
                </div>
            </div>
   

    <form class="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Update profile</legend>
            {{ user_form|crispy }}
            {{ profile_form|crispy }}
        </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info">update</button>
            </div>
    </form>
</div>
{% endblock content %} 
